#tablica {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20%;
}

#tablica td, #tablica th {
  border: 1% solid #ddd;
  padding: 0.5%;
}

#tablica tr:nth-child(even){background-color: #f2f2f2;}

#tablica th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orange;
  color: white;
}
